<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="suite">

    <test name="Testing Registration" enabled = "true">
        <parameter name="browserName" value="Chrome"></parameter>
        <classes>
            <class name="testcases.RegisterPageTest"/>
        </classes>
    </test>

    <test name="Testing Login fuction" enabled = "true">
        <parameter name="browserName" value="Chrome"></parameter>
        <classes>
            <class name="testcases.LoginPageTests"/>
        </classes>
    </test>

    <test name="Testing products details" enabled = "true">
        <parameter name="browserName" value="Chrome"></parameter>
        <classes>
            <class name="testcases.ProductDetailPageTest"/>
        </classes>
    </test>

    <test name="Testing products search function" enabled = "true">
        <parameter name="browserName" value="Chrome"></parameter>
        <classes>
            <class name="testcases.SearchPageTest"/>
        </classes>
    </test>


</suite>
